@model IEnumerable<Service.Models.Book>
@{
    ViewBag.Title = "Add";
}

<h2>Add Author</h2>
<div class="form-div">

    <form method="post" action="/Authors/Add">
        <div><label class="editLabel">Aid:</label> @Html.TextBox("Aid", "")</div>
        <div><label class="editLabel">First name:</label> @Html.TextBox("FirstName", "")</div>
        <div><label class="editLabel">Last name:</label> @Html.TextBox("LastName","")</div>
        <div><label class="editLabel">Birth year:</label> @Html.TextBox("BirthYear", "")</div>

        <select size="10" name="bookIds" multiple>
            @foreach (var book in Model)
            {
                <option value="@book.ISBN">@book.Title</option>
            }
        </select>
        <div style="height: 30px;"><input type="submit" value="Add" formmethod="post" class="btn saveBtn" style="float:right;" /></div>
    </form>

</div>
<script type="text/javascript">
    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[0-9\b]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

</script>