@model IEnumerable<Service.Models.Author>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authors</h2>

<div class="input-group">
    @using (Html.BeginForm())
    {
        @Html.TextBox("searchBox")
        <a href="#" class="btn searchBtn">Search</a>
            @*<input type="submit" value="search"/>*@

    }
</div>

@*<ul>
    @foreach (var author in Model)
    {
        <li class="list-item">@Html.ActionLink(author.FirstName == null ? "missing" : author.FirstName, "Info", "Authors", new { id = author.Aid }, null)</li>
    }
<<<<<<< HEAD
</ul>*@
<div class="list-group">
    <table style="width: 100%;">
        <tr class="list-header">
            <td class="">AUTHOR</td>

        </tr>
        @foreach (var author in Model)
        {
            <tr onclick="location.href='@Url.Action("Info", "Authors", new { id = author.Aid }, null)'" class="list-item">
                <td class="">
                    @author.FirstName @author.LastName
                </td>

            </tr>
        }

    </table>

</div>
@Html.ActionLink("Create Author", "Create", "Authors", new { @class = "btn createBtn" })

@*</ul>
@Html.ActionLink("Create Author", "Add", "Authors", new { @class = "btn createBtn" })
>>>>>>> 10f6fba97b2b9804b972f3b15633aadcda619f53*@

