@model Service.Models.Author
@{
    ViewBag.Title = "Info";
}

@*<h2>Info</h2>*@
<div class="info-div">
    <h1 class="info-title">@Model.FirstName @Model.LastName</h1>
    <p>Birth year: @Model.BirthYear</p>
    
    <div class="list-group">
        <p>Books:</p>
        <table>
            @foreach (var book in Model.Books)
            {
                <tr class="list-item">@Html.ActionLink(book.Title == null ? "Unknown" : book.Title, "Info", "Books", new { id = book.ISBN }, null)</tr>
            }
        </table>
    </div>

</div>
<div>
</div>
@if (Session["user"] != null)
{
@Html.ActionLink("Edit Author", "Edit", "Authors", new { id = Model.Aid, @class = "btn createBtn" }, null)

    <form method="post" action="/Authors/Delete?id=@Model.Aid">
        <div style="height: 30px;"><input type="submit" value="Delete author" class="btn saveBtn" style="float:right;" /></div>
    </form>

@*@Html.ActionLink("Delete Author", "Delete", "Authors", new { id = Model.Aid, @class = "btn createBtn" }, null)*@
}