@model Service.Models.Author
@{
    ViewBag.Title = "Info";
}

@*<h2>Info</h2>*@
<div class="info-div">
    <h1 class="info-title">@Model.FirstName @Model.LastName</h1>
    <p>Birth year: @Model.BirthYear</p>
    
    <div class="list-group">
        <p>Books:</p>
        <table>
            @foreach (var book in Model.Books)
            {
                <tr class="list-item" onclick="location.href='@Url.Action("Info", "Books",new { id = book.ISBN }, null)"> 
            <td class="list-column list-column-first">
                    @book.Title
                </td></tr>

            }
        </table>
    </div>

</div>
<div>
</div>
@*@Html.ActionLink("Edit Author", "Edit", "Authors")*@