@model Service.Models.Author
@{
    ViewBag.Title = "Info";
}

@*<h2>Info</h2>*@
<div class="info-div">
    <h1 class="info-title">@Model.FirstName @Model.LastName</h1>
    <p class="boldP">Birth year: </p><p>@Model.BirthYear</p>
    <p class="boldP">Author Id: </p><p>@Model.Aid</p>
    <p class="boldP">Books:</p>
    <div class="list-group">

        <table class="infoTable">
            @foreach (var book in Model.Books)
            {
                <tr class="list-item" onclick="location.href='@Url.Action("Info", "Books", new { id = book.ISBN }, null)'">
                    <td>@(book.Title == null ? "Unknown" : book.Title)</td>
                </tr>
            }
        </table>
    </div>
    <div style="display: block; width: 100%; text-align:center;">
        @if (Session["user"] != null)
        {
            <div style="display: table-row;">
                @Html.ActionLink("Edit Author", "Edit", "Authors", new { id = Model.Aid }, new { @class = "btn createBtn" })
            </div>
            <div style="display: table-row;">
                <form method="post" action="/Authors/Delete?id=@Model.Aid">
                    <input type="submit" value="Delete author" class="btn cancelBtn" style="float:right;" />
                </form>
            </div>
        }
    </div>
</div>


