@model IEnumerable<Service.Models.Author>
@{
    ViewBag.Title = "Add";
}

<h2>Add book</h2>
<div class="form-div">

    <form method="post" action="/Books/Add">
        <div><label class="editLabel">ISBN:</label> @Html.TextBox("ISBN","")</div>
        <div><label class="editLabel">Title:</label> @Html.TextBox("Title","")</div>
        <div><label class="editLabel">Pages:</label> @Html.TextBox("pages","")</div>
        <div><label class="editLabel">Publication Year:</label> @Html.TextBox("PublicationYear", "")</div>
        <div><label class="editLabel">Information:</label> @Html.TextArea("publicationinfo", "")</div>
        <select size="10" name="authors" multiple>
            @foreach (var author in Model)
            {
                <option value="@author.Aid">@author.FirstName</option>
            }
        </select>
        <div style="height: 30px;"><input type="submit" value="Add" formmethod="post" class="btn saveBtn" style="float:right;" /></div>
    </form>

</div>