@model IEnumerable<Service.Models.Author>
@{
    ViewBag.Title = "Add";
}

<h2>Add book</h2>

<div class="form-div">

    <form method="post" name="addBook" action="/Books/Add" onsubmit="return validateAddForm()">

        @Html.AntiForgeryToken()

        <div><label class="editLabel">ISBN:</label><input type="text" name="ISBN" class="form-control" /><br /><label id="valISBN" class="valLabel" style="visibility:collapse;">* ISBN is required</label></div>
        <div><label class="editLabel">Title:</label><input type="text" name="Title" class="form-control" /> <br /><label id="valName" class="valLabel" style="visibility:collapse;">* Title is required</label></div>
        <div><label class="editLabel">Pages:</label><input type="text" name="pages" id="pagesBox"/><br /></div>
        <div><label class="editLabel">Publication Year:</label><input type="text" name="PublicationYear" /><br /></div>
        <div><label class="editLabel">Information:</label><input type="text" name="publicationinfo" class="form-control" /> <br /></div>
        <label class="editLabel">
            Authors:
        </label>
        <select size="10" name="authorIds" multiple class="selectpicker" data-live-search="true" style=" margin-bottom 5px;">
            @foreach (var author in Model)
            {
                <option value="@author.Aid">@author.FirstName @author.LastName</option>
            }
        </select>
        <div style="height: 30px; margin-top:10px; text-align:center;"><input type="submit" value="Add" formmethod="post" class="btn saveBtn" /></div>
    </form>
    <label class="error-label">@ViewBag.DuplicateMessage</label>
</div>
<script type="text/javascript">
    function validateAddForm() {
        var isbn = document.forms["addBook"]["ISBN"].value;
        var name = document.forms["addBook"]["Title"].value;
        var isOK = true;
        if (isbn == "") {
            var valISBN = document.getElementById("valISBN");
            valISBN.style.visibility = "visible";
            isOK = false;
        }
        if (name == "") {
            var nameVal = document.getElementById("valName");
            nameVal.style.visibility = "visible";
            isOK = false;
        }
        if (isOK) {
            return true;
        }
        return false;

    }
    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[0-9\b]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>