@model Presentation.Models.EditBookModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Book</h2>
<div class="form-div">
    
        <form name="editBook" method="post" action="/Books/Edit?ISBN=@Model.Book.ISBN" onsubmit="return validateForm()">
            <div><label class="editLabel">Title:</label><input type="text" value="@Model.Book.Title" name="Name" /> <br/><label id="valName" class="valLabel" style="visibility:collapse;">* Title is required</label></div>
            <div><label class="editLabel">Pages:</label> @Html.TextBox("Pages", Model.Book.pages)</div>
            <div><label class="editLabel">Publication Year:</label> @Html.TextBox("publicationYear", Model.Book.PublicationYear)</div>
            <div><label class="editLabel">Information:</label> @Html.TextArea("Information", Model.Book.publicationinfo)</div>
            <select size="10" name="authors" multiple>
                @foreach (var author in Model.Authors)
                {
                    <option @if (@Model.Book.Authors.FirstOrDefault(a => a.Aid == author.Aid) != null) { <text>Selected</text> } value="@author.Aid">@author.FirstName</option>
                }
            </select>
            <div style="height: 30px;"><input type="submit" value="Save" class="btn saveBtn" style="float:right;" /></div>
        </form>
    
</div>

<script type="text/javascript">
    function validateForm() {
        var name = document.forms["editBook"]["Name"].value;
        debugger;
        if (name == "") {
            var nameVal = document.getElementById("valName");
            nameVal.style.visibility = "visible";
            return false;
        }
        return true;

    }
</script>