@model Service.Models.Book
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Info</h2>
    <div class="info-div">
        <h1 class="info-title">@Model.Title</h1>
        <p>@Model.publicationinfo</p>
    </div>
<p>@Model.PublicationYear</p>
<br/>
<p>@Model.pages</p>
<div class="list-group">
        <ul>
            @foreach (var author in Model.Authors)
            {
                <li class="list-item">@Html.ActionLink(author.FirstName == null ? "Unknown" : author.FirstName, "Info", "Authors", new { id = author.Aid }, null)</li>

            }
        </ul>
    </div>
<div>
</div>
@Html.ActionLink("Edit Book", "Edit", "Books", new { id = Model.ISBN, @class = "btn createBtn"}, null)
@Html.ActionLink("Delete Book", "Delete", "Books", new { id = Model.ISBN, @class = "btn createBtn" }, null)
